<!DOCTYPE html>

<% var rootPath = '../'; %>

<html>
<head>
  <title>Express HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../Assets/favicon.ico">
  <link rel="manifest" href="/manifest.json">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

  <!-- Tell the browser it's a PWA -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Tell iOS it's a PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Make sure theme-color is defined -->
    <meta name="theme-color" content="#536878">
    <style type="text/css">
      .asset-box{
        width: 100%;
        height: auto;
        padding: 5px 0;
        border-top: 1px solid #f9f9f9;
        border-bottom: 1px solid #f9f9f9;
        text-align: center;
        margin: 5px 0;
        background-color: #f1f1f1;
      }

      h1 {
        font-size: 18px;
        color: #000;
      }

      h1.investment-price{

      }

      h1.investment-return{
        color: rgb(55, 188, 155);
      }

      /*-----*/
      /*details*/
      .details-head{
        text-align: center;
        border-bottom: 1px solid #000;
      }

      .details-content{
        text-align: center;
      }

      h2{
        font-size: 12px;
      }

      .feedback {
        background-color : #31B0D5;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        border-color: #46b8da;
      }

      #mybutton {
        position: fixed;
        bottom: 4px;
        right: 10px;
        z-index: 10;
      }

      .navbar{
        opacity: 1;
      }

      .menu-svg{
        width: 100%;
        height: auto;
      }

    </style>
</head>
<body>

  <div id="mybutton">
  <button type="button" class="btn btn-primary feedback">Add</button>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="#">Investments Monitor</a>
      </div> -->
      <ul class="nav navbar-nav">
        <li class="col-xs-4"><a href="#"><img class="menu-svg" src="Assets/buy.svg" ></a></li>
        <li class="col-xs-4"><a href="#"><img class="menu-svg" src="Assets/history.svg" ></a></li>
        <li class="col-xs-4"><a href="#"><img class="menu-svg" src="Assets/wallet.svg" ></a></li>
      </ul>
    </div>
  </nav>
    
  <% for(var i=0; i<20 ; i++) { %>
        
    <div class="container asset-box" data-toggle="collapse" href="#details">
      <div class="col-xs-4">
        <h1 class="asset__sticker">ITSA4</h1>
      </div>
      <div class="col-xs-4">
        <h1 class="asset__sticker investment-price">R$ 123,00</h1>
      </div>
      <div class="col-xs-4">
        <h1 class="asset__sticker investment-return">15%</h1>
      </div>
    </div>

    <div id="details" class="container collapse details-box">
      <div class="container details-head">
        <div class="col-xs-3">
          <h2 class="asset__sticker">Data da compra</h1>
        </div>
        <div class="col-xs-3">
          <h2 class="asset__sticker investment-price">Qtd.</h1>
        </div>
        <div class="col-xs-3">
          <h2 class="asset__sticker investment-return">Preço de compra (R$)</h1>
        </div>
        <div class="col-xs-3">
          <h2 class="asset__sticker">Taxas (R$)</h1>
        </div>
      </div>

      <div class="container details-content">
        <div class="col-xs-3">
          <h2 class="asset__sticker">23/12/18</h1>
        </div>
        <div class="col-xs-3">
          <h2 class="asset__sticker">100</h1>
        </div>
        <div class="col-xs-3">
          <h2 class="asset__sticker investment-return">72,00</h1>
        </div>
        <div class="col-xs-3">
          <h2 class="asset__sticker">18,90</h1>
        </div>
      </div>

      <div class="container details-content">
        <div class="col-xs-3">
          <h2 class="asset__sticker">23/12/18</h1>
        </div>
        <div class="col-xs-3">
          <h2 class="asset__sticker">100</h1>
        </div>
        <div class="col-xs-3">
          <h2 class="asset__sticker investment-return">72,00</h1>
        </div>
        <div class="col-xs-3">
          <h2 class="asset__sticker">18,90</h1>
        </div>
      </div>

      
    </div>

  <% } %>
  
</body>
</html>