<!DOCTYPE html>

<% var rootPath = '../'; %>

<html lang="pt-br">
<head>
  <title>Investments Monitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../Assets/favicon.ico">
  <meta name="Description" content="web app for investments monitoring">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Tell iOS it's a PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Make sure theme-color is defined -->
    <meta name="theme-color" content="#536878">
  <link rel="manifest" href="manifest.json">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

  <!-- Tell the browser it's a PWA -->
    <style type="text/css">
      .asset-box{
        width: 100%;
        height: auto;
        padding: 5px 0;
        border-top: 1px solid #f9f9f9;
        border-bottom: 1px solid #f9f9f9;
        text-align: center;
        margin: 5px 0;
        background-color: #f1f1f1;
      }

      

      h1 {
        font-size: 18px;
        color: #000;
      }

      h1.investment-price{

      }

      h1.investment-return{
        color: rgb(255, 0, 0);
      }

      /*-----*/
      /*details*/
      .details-head{
        text-align: center;
        border-bottom: 1px solid #000;
      }

      .details-content{
        text-align: center;
      }

      h2{
        font-size: 12px;
      }

      /*.feedback {
        background-color : #31B0D5;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        border-color: #46b8da;
      }*/

      #mybutton {
        position: fixed;
        bottom: 4px;
        right: 10px;
        z-index: 10;
      }

      .navbar{
        opacity: 1;
      }

      .menu-svg{
        width: 40px;
        height: 40px;
      }

      .button-plus{
        width: 50px;
        height: 50px;
      }

      .title-margin{
        margin-top: 75px !important;
      }
      body{
        background-color: #000003;
        background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

        /*background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");*/
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

        /*background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");*/
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
              }

      .navbar-height{
        /*max-height: 50px;*/
      }

    </style>
</head>
<body>

  <div id="mybutton">
  <!-- <button type="button" class="btn btn-primary feedback">Add</button> -->
  <img class="button-plus feedback" src="Assets/plus.svg" alt="add button">
  </div>

  <nav class="navbar navbar-inverse navbar-fixed-top navbar-height">
    <div class="container ">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="#">Investments Monitor</a>
      </div> -->
      <ul class="nav navbar-nav">
        <li class="col-xs-4"><a href="#" onclick="openSection(event, 'wallet')"><img class="menu-svg" src="Assets/wallet.svg" alt="wallet icon" ></a></li>
        <li class="col-xs-4"><a href="#"><img class="menu-svg" src="Assets/buy.svg" alt="add icon"></a></li>
        <li class="col-xs-4"><a href="#" onclick="openSection(event, 'history')"><img class="menu-svg" src="Assets/history.svg" alt="history icon"></a></li>
      </ul>
      <div style="color: #fff;">
        total da carteira: 15%
      </div>
    </div>
  </nav>

  <section id="wallet" class="wallet-section tabcontent">
    <div class="container title-margin">
      carteira
    </div>
      
    <% for(var i=0; i<5 ; i++) { %>
          
      <div class="container asset-box" data-toggle="collapse" href="#details<%= i %>">
        <div class="col-xs-4">
          <h1 class="asset__sticker">ITSA4</h1>
        </div>
        <div class="col-xs-4">
          <h1 class="asset__sticker investment-price">R$<%= stock %></h1>
        </div>
        <div class="col-xs-4">
          <h1 class="asset__sticker investment-return">15%</h1>
        </div>
      </div>

      <div id="details<%= i %>" class="container collapse details-box" style="background-color: #000">
        <div class="container details-head">
          <div class="col-xs-3">
            <h2 class="asset__sticker">Data da compra</h1>
          </div>
          <div class="col-xs-3">
            <h2 class="asset__sticker investment-price">Qtd.</h1>
          </div>
          <div class="col-xs-3">
            <h2 class="asset__sticker investment-return">Preço de compra (R$)</h1>
          </div>
          <div class="col-xs-3">
            <h2 class="asset__sticker">Taxas (R$)</h1>
          </div>
        </div>

        <div class="container details-content">
          <div class="col-xs-3">
            <h2 class="asset__sticker">23/12/18</h1>
          </div>
          <div class="col-xs-3">
            <h2 class="asset__sticker">100</h1>
          </div>
          <div class="col-xs-3">
            <h2 class="asset__sticker investment-return">72,00</h1>
          </div>
          <div class="col-xs-3">
            <h2 class="asset__sticker">18,90</h1>
          </div>
        </div>
        
      </div>

    <% } %>
  </section>

  <section id="history" class="history-section tabcontent">
    <div class="container title-margin">
      <h5>histórico</h5>
      <p> sem historico </p>
    </div>
  </section>

  <script type="text/javascript">
    function openSection(evt, sectionName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(sectionName).style.display = "block";
    evt.currentTarget.className += " active";
} 
  </script>

  <script type="text/javascript">
    if ('serviceWorker' in navigator && 'PushManager' in window) {
      console.log('Service Worker and Push is supported');

      navigator.serviceWorker.register('service-worker.js')
      .then(function(swReg) {
        console.log('Service Worker is registered', swReg);

        swRegistration = swReg;
      })
      .catch(function(error) {
        console.error('Service Worker Error', error);
      });
    } else {
      console.warn('Push messaging is not supported');
      pushButton.textContent = 'Push Not Supported';
    }


  </script>
  
</body>
</html>