ticker-list {
    .ticker-list__wrapper {
        border: 1px solid #000;
        margin: 2px 0 2px 0;
        background-color: #fff;
    }

    .ticker-list__name {
        font-size: 18px;
        color: #555;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 6ch;
    }

    .ticker-list__price {
        color: #555;
        text-align: center;
    }
}
