<ion-header>

  <ion-navbar>
    <ion-title>Detalhes: {{ ticker["1. symbol"] }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="ticker__name">
        {{ ticker["1. symbol"] }}
    </div>
    <div>
        {{ ticker["8. currency"] }}
    </div>
    <div>
        {{ticker["2. name"]}}
    </div>
    <div>
        ultimo preço: {{lastInfoPrice}}
    </div>
    <div>
        ultima atualização: {{lastInfoUpdate}}
    </div>
    <!-- <div *ngFor="let key of keys; let i = index;">
        <div *ngIf="i==0">
            {{key}} : {{data[key]["4. close"]}}
        </div>
    </div> -->
</ion-content>
