<div class="container title-margin title-color-size">
    <h5>Adicionar ativo</h5>
    <div class="addform">
        <form action="/addNewBuy/" method="post">
          <h1> ticker </h1>
          <input type="text" name="addticker">
          <br>
          <h1> valor </h1>
          <input type="text" name="addvalue">
          <br>
          <h1> taxa </h1>
          <input type="text" name="addtaxa">
          <br>
          <h1> qtd </h1>
          <input type="text" name="addqtd">
          <br>
          <h1> data </h1>
          <input type="text" name="adddate">
          <br>
          <input type="submit" value="Enviar">
        </form> 
    </div>
</div>